.search-container {
    display: flex;
    flex-direction: column;
    /*background-color: cornflowerblue;*/
    align-items: center;
    gap: 2rem;
}

.random-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0;
    /*background-color: chocolate;*/
}
