.profile-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.login-container{
    width: 40%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.saved-cocktails {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.profile-image img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #ddd;
    object-fit: cover;
}

.cocktail-wrapper {
    display: flex !important;
    flex-wrap: wrap !important;
    gap: 1rem !important;
    justify-content: center !important;
}

.cocktail-wrapper .cocktail-container {
    width: 35% !important;
}

@media (max-width: 1024px) {
    .cocktail-wrapper .cocktail-container {
        width: 70% !important;
    }
}

@media (max-width: 600px) {
    .cocktail-wrapper .cocktail-container {
        width: 100% !important;
    }
}
