.main-container {
    display: flex;
    justify-content: center;
    width: 100% !important;
}

.auth-container {
    width: 50vw !important;
    max-width: 700px;
    margin: 0 !important;
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 10px;
    color: #111;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.auth-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    background: #fff;
    border-bottom: 1px solid #ddd;
    font-size: 1.2rem;
    font-weight: bold;
}

.auth-body {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1rem;
    flex: 1;
    background: #fff;
    border-radius: 6px;
    margin: 1rem;
    border: 1px solid #ddd;
}

.auth-body label {
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    font-weight: 500;
}

.auth-input {
    padding: 0.6rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1rem;
    width: 100%;
    margin-top: 0.3rem;
    margin-bottom: 1.5rem;
}

.auth-button {
    padding: 1rem;
    border: 1px solid #333;
    border-radius: 6px;
    background: #fff;
    color: #333;
    font-size: 1.1rem;
    cursor: pointer;
    display: block;
    margin: 1rem auto 0 auto;
    width: 100%;
}

.auth-footer {
    text-align: center;
    font-size: 0.9rem;
    color: #555;
    margin-top: 1rem;
}
